<h2>Eventos </h2>
<hr>

<form action="" class="form-inline">
    <div class="form-group mb-2">
        <input type="text" class="form-control mr2" placeholder="busca">
   <button class="btn btn-outline-succes">Pesquisar</button>
    </div>
</form>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Imagem</th>
            <th>Tema</th>
            <th>Local</th>
            <th>Data</th>
            <th>Qtd Pessoas</th>
            <th>Lote</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length">
        <tr *ngFor="let eventos of eventos">            
            <td>{{eventos.eventoId}}</td>
            <td>{{eventos.imagemURL}}</td>
            <td>{{eventos.tema}}</td>
            <td>{{eventos.local}}</td>
            <td>{{eventos.dataEvento}}</td>
            <td>{{eventos.qtdPessoas}}</td>
            <td>{{eventos.lote}}</td>
            <td></td>
        </tr>
    </tbody>
    <tfoot *ngIf="!eventos.length">
        <tr>
            <td colspan="8" class="text-center">
                <h4>Nenhum  Evento encontrado</h4>
            </td>
        </tr>
    </tfoot>
</table>
